@font-face {
    font-family: golos;
    src: url('font/golos/GolosText-VariableFont_wght.ttf');
}

html {
    background-color: rgb(55, 55, 83, 1);
    color: #fff;
    font-family: golos;
}

body {
    display: flex;
    justify-content: center;
    max-width: calc(100vw - 1rem);
    max-width: calc(100dvw - 1rem);
    margin-left: 1rem;
    margin-right: 1rem;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

*::selection {
    color: #000;
    background-color: #fff;
}

strong {
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 28rem;
}